/*
!.gitignore
!README.md
!/practica2/
!/practica2/**
!/practica3/
!/practica3/**
!/practica4/
!/practica4/**
!/practica5/
!/practica5/**

#to remove build artifacts
practica2/**/target/
practica3/**/target/
